@font-face {
	font-family: Austie;
	src: url("/static/fonts/Austie\ Bost\ Chunky\ Description.ttf");
}
@font-face {
	font-family: Komika;
	src: url("/static/fonts/KOMIKAGL.ttf");
}

h1,
h2,
h3,
h4 {
	font-family: Komika;
}
* {
	font-family: Austie;
}
