#game_list {
	display: flex;
	flex-wrap: wrap;
	padding-inline-start: inherit;
}

.game-item {
	list-style-type: none;
	border: solid 2px black;
	border-radius: 5px;
	display: flex;
	flex-grow: 1;
	width: 41%;
	margin: 5px;
	padding: 2px;
}

.game-item > * {
	padding: 10px;
}

.game-image {
	max-height: 45vh;
	max-width: 50%;
}

.search-wrap {
	width: 50%;
	flex-grow: 1;
}

@media screen and (max-width: 700px) {
	.game-item {
		width: 90%;
	}
}

.star-check {
	display: none;
}

.star {
	font-size: 2rem;
	color: rgb(16, 45, 99);
}

.star:hover {
	cursor: pointer;
}

.star-check:checked + .star::before {
	content: "\2605";
}

.star::before {
	content: "\2606";
}
