<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{%block title%} {%endblock%}
		<link
			rel="stylesheet"
			href="{{url_for('static', filename='stylesheets/forms.css')}}"
		/>
		<link
			rel="stylesheet"
			href="{{url_for('static', filename='stylesheets/alerts.css')}}"
		/>
		<link
			rel="stylesheet"
			href="{{url_for('static', filename='stylesheets/base.css')}}"
		/>
		{%block links%} {%endblock%}
	</head>
	<body>
		<div id="page-container">
			<div id="content-wrap">
				{% for category, message in
				get_flashed_messages(with_categories=True) %}
				<div class="alert alert-{{ category }}">{{ message }}</div>
				{%endfor%} {%block content%} {%endblock%}
			</div>
			<footer>
				Powered By:
				<a href="https://www.giantbomb.com/api/" target="_blank"
					>Giant bomb</a
				>
				<span> and </span>
				<a href="https://tastedive.com/read/api" target="_blank"
					>Taste Dive</a
				>
			</footer>
		</div>
		<script src="https://unpkg.com/jquery"></script>
		<script src="https://unpkg.com/axios/dist/axios.js"></script>
		{%block scripts%} {%endblock%}
	</body>
</html>
