{%extends 'base.html'%}
<!-- Title block -->
{%block title%}
<title>{{game.name}} display</title>
{%endblock%}
<!-- Links block -->
{%block links%}
<!-- <link
	rel="stylesheet"
	href="{{url_for('static', filename='stylesheets/game-list.css')}}"
/> -->
{%endblock%}
<!-- content block -->
{%block content%}
<header>
	<div id="head-wrap">
		<a href="/">Home</a>
		&#9737;
		<a href="/search">Search</a>
		&#9737;
		<a href="/logout">logout</a>
	</div>
</header>
<h1>{{game.name}}</h1>
{{game.description |safe}}
<div>
	<h4>Similar games:</h4>
	{%if similar%} {%for game in similar%} &#9737;
	<a href="/search/{{game['Name']}}/0/1">{{game.Name}}</a>
	{%endfor%} {%else%}
	<strong>
		Sorry we're having trouble finding similar titles for this game.
	</strong>
	{%endif%}
</div>
{%endblock%}
<!-- Scripts block -->
{%block scripts%}
<script src="/static/scripts/games.js"></script>
{%endblock%}
