{%extends 'base.html'%}
<!-- Title block -->
{%block title%}
<title>{{game.name}} display</title>
{%endblock%}
<!-- Links block -->
{%block links%}
<link
	rel="stylesheet"
	href="{{url_for('static', filename='stylesheets/game-list.css')}}"
/>
<link
	rel="stylesheet"
	href="{{url_for('static', filename='stylesheets/game.css')}}"
/>
{%endblock%}
<!-- content block -->
{%block content%}
<header>
	<div>My Games</div>
	<div id="head-wrap">
		<a href="/">Home</a>
		&#9737;
		<a href="/search">Search</a>
		&#9737;
		<a href="/logout">logout</a>
	</div>
</header>
<h1>{{game.name}}</h1>
<div id="info-wrap">
	<div>
		<img src="{{game.image_url}}" alt="{{game.name}} photo" id="game-pic" />
		<br />
		<label class="star-wrap">
			<input
				type="checkbox"
				class="star-check"
				{%if
				liked%}
				checked
				{%endif%}
				id="{{game.id}}"
			/>
			<span class="star"></span>
		</label>
	</div>
	<div id="desc-wrap">
		<h2>Description:</h2>
		{{game.description |safe}}
	</div>
</div>
<div>
	<h4>Similar games:</h4>
	{%if similar%} {%for game in similar%} &#9737;
	<a href="/search/{{game['Name']}}/0/1">{{game.Name}}</a>
	{%endfor%} {%else%}
	<strong>
		Sorry we're having trouble finding similar titles for this game.
	</strong>
	{%endif%}
</div>

{%endblock%}
<!-- Scripts block -->
{%block scripts%}
<script src="/static/scripts/game.js"></script>
{%endblock%}
