{%extends 'base.html'%}
<!-- Title block -->
{%block title%}
<title>Home</title>
{%endblock%}
<!-- Links block -->
{%block links%}
<link
	rel="stylesheet"
	href="{{url_for('static', filename='stylesheets/game-list.css')}}"
/>
{%endblock%}
<!-- content block -->
{%block content%}
<header>
	<div id="head-wrap">
		<a href="/search">Search</a>
		&#9737;
		<a href="/logout">logout</a>
	</div>
	<h1>Likes</h1>
</header>
{%if likes%}
<ul id="game_list">
	{%for item in likes%}
	<li
		class="game_item"
		data-desc="{{item.description}}"
		data-id="{{item.id}}"
	>
		<img
			src="{{item.image_url}}"
			alt="{{item.name}} image"
			class="game_image"
		/>
		<div class="info_wrap">
			<a href="/game/{{item.id}}">{{item.name}}</a>
			<p>{{item.deck}}</p>
		</div>

		<label class="star-wrap">
			<input type="checkbox" class="star-check" checked />
			<span class="star"></span>
		</label>
	</li>
	{%endfor%}
</ul>
{%else%}
<h2>You haven't told us what you like yet!</h2>
{%endif%}
<a href="/search" class="link-button">Add games</a>
{%endblock%}
<!-- Scripts block -->
{%block scripts%}
<script src="/static/scripts/search.js"></script>
{%endblock%}
