{%extends 'base.html'%}
<!-- Title block -->
{%block title%}
<title>Login</title>
{%endblock%}
<!-- Links block -->
{%block links%} {%endblock%}
<!-- content block -->
{%block content%}
<h1>Login</h1>
<form method="POST" id="userForm">
	{{ form.hidden_tag() }}
	<!--Loops through all fields that arent hidden  -->
	{% for field in form if field.widget.input_type !='hidden' %}
	<!-- Displays errors for each field -->
	{% for error in field.errors %}
	<span class="text-danger">{{ error }}</span>
	{% endfor %}
	<!-- Creates html field -->
	<div class="field_wrap">
		{{ field(placeholder=field.label.text, class="form-control") }}
	</div>
	{% endfor %}

	<button class="btn btn-primary btn-block btn-lg">Log in</button>
</form>
<a href="/signup">Need to Create an Account? Signup here!</a>
{%endblock%}
