{%extends 'base.html'%}
<!-- Title block -->
{%block title%}
<title>Search</title>
{%endblock%}
<!-- content block -->
{%block content%}
<header>
	<div id="head-wrap">
		<a href="/">Home</a> &#9737; <a href="/logout">logout</a>
	</div>
	<h1>GAME SEARCH</h1>
	<div>
		<form method="POST" id="search_bar" action="/search">
			{{ form.hidden_tag() }}
			<!--Loops through all fields that arent hidden  -->
			{% for field in form if field.widget.input_type !='hidden' %}
			<!-- Displays errors for each field -->
			{% for error in field.errors %}
			<span class="text-danger">{{ error }}</span>
			{% endfor %}
			<!-- Creates html field -->
			<div class="select_field_wrap">
				{{ field(placeholder=field.label.text, class="form-control") }}
			</div>
			{% endfor %}

			<button class="btn btn-primary btn-block btn-lg">Search</button>
		</form>
	</div>
</header>
<ul id="game_list"></ul>
{%endblock%}
