{%extends 'base.html'%}
<!-- Title block -->
{%block title%}
<title>Search</title>
{%endblock%}
<!-- links block -->
{%block links%}
<link
	rel="stylesheet"
	href="{{url_for('static', filename='stylesheets/game-list.css')}}"
/>
{%endblock%}
<!-- content block -->
{%block content%}
<header>
	<div id="head-wrap">
		<a href="/">Home</a> &#9737; <a href="/logout">logout</a>
	</div>
	<h1>GAME SEARCH</h1>
	<div>
		<form method="POST" id="search_bar" action="/search">
			{{ form.hidden_tag() }}
			<!--Loops through all fields that arent hidden  -->
			{% for field in form if field.widget.input_type !='hidden' %}
			<!-- Displays errors for each field -->
			{% for error in field.errors %}
			<span class="text-danger">{{ error }}</span>
			{% endfor %}
			<!-- Creates html field -->
			<div class="select_field_wrap">
				{{ field(placeholder=field.label.text, class="form-control") }}
			</div>
			{% endfor %}

			<button class="btn btn-primary btn-block btn-lg">Search</button>
		</form>
	</div>
</header>
{%if game_list is not none%}
<!-- Second if statement to determine if it is empty -->
{%if game_list%}
<ul id="game_list">
	{%for item in game_list%}
	<li class="game_item">
		<img
			src="{{item.image.medium_url}}"
			alt="{{item.name}} image"
			class="game_image"
		/>
		<div class="info_wrap">
			<a href="/games/{{item.guid}}">{{item.name}}</a>
			<p>Description: {{item.deck}}</p>
		</div>
	</li>
	{%endfor%}
</ul>
<button id="previous">prev</button>
<input type="number" name="page" id="page-number" value="1" /><span
	>/{{pages}}</span
>
<button id="next">next</button>
{%else%}
<h2>Sorry no results! Try searching for something else.</h2>
{%endif%} {%else%}
<h2>Use the search bar above to find some games!</h2>
{%endif%} {%endblock%}
